<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <title><%= title %></title>

<link href="/public/css/welcome.ce183.min.css" rel="stylesheet"></head>
<body>
<div id="root">
    <div class="trans-center">
        <div class="welcome">welcome!</div>
    </div>
</div>
<script type="text/javascript" src="/public/js/manifest.bundle.js"></script><script type="text/javascript" src="/public/js/vendors.df916aa729da7a4ff123.js"></script><script type="text/javascript" src="/public/js/welcome.7b15f0bcd3c6f96495bb.js"></script></body>
</html>
